working_files/
generator_working_files/
composition_working_files/
depreciated/
runs/

.DS_Store

# Node
node_modules/
npm-debug.log*

# Python caches & compiled files
__pycache__/
*.pyc

*.mid

# Local env/config
.env
.env.*
secrets.py

.gitignore